<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <!-- Gazebo requires the velodyne_gazebo_plugins package -->
  <xacro:macro name="VLP-16" params="name:=velodyne topic:=velodyne_points">
    <gazebo reference="${name}">
      <sensor type="ray" name="${name}-VLP16">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>1875</samples>
              <resolution>1</resolution>
              <min_angle>${-1.0*M_PI}</min_angle>
              <max_angle>${M_PI}</max_angle>
            </horizontal>
            <vertical>
              <samples>16</samples>
              <resolution>1</resolution>
              <min_angle>-${15.0*M_PI/180.0}</min_angle>
              <max_angle> ${15.0*M_PI/180.0}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.3</min>
            <max>${130.0+1.0}</max>
            <resolution>0.001</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.0</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_velodyne_laser.so">
          <topicName>${topic}</topicName>
      	  <frameName>${name}</frameName>
          <min_range>0.9</min_range>
          <max_range>130.0</max_range>
          <gaussianNoise>0.008</gaussianNoise>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <!-- Create link for VLP16 mesh  -->
  <link name="velodyne_mesh">
    <visual>
      <geometry>
        <mesh filename="package://nuridgeback_description/meshes/vlp16_assy.stl"/>
      </geometry>
      <material name="light_grey">
        <color rgba="0.4 0.4 0.4 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://nuridgeback_description/meshes/vlp16_assy.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_to_lidar_mesh" type="fixed">
  <parent link="mid_mount" />
  <child link="velodyne_mesh" />
  <origin xyz="0.365 0 0" rpy="0 0 0" />
  </joint>

  <!-- Create a link between the VLP16 mesh and sensor origin -->
  <link name="velodyne_scan"/>

  <joint name="vlp16_mesh_to_vlp16_origin" type="fixed">
    <parent link="velodyne_mesh" />
    <child link="velodyne_scan" />
    <origin xyz="0 0 0.195" rpy="0 0 0" />
  </joint>

  <xacro:VLP-16 name="velodyne_scan" topic="ridgeback/velodyne_points"/>
</robot>
