<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<!-- Create link for Bumblebee mesh -->
 <link name="bb2_mesh">
     <visual>
      <geometry>
        <mesh filename="package://sawback_description/meshes/bb2_stereo_cam.dae"/>
      </geometry>
    </visual>
  </link>

 <joint name="base_to_bb2_mesh" type="fixed">
   <parent link="mid_mount" />
   <child link="bb2_mesh" />
   <origin xyz="0.43 0 0" rpy="0 0 1.5708" />
 </joint>

 <!-- Create a link between the BB2 mesh and sensor origin -->
 <link name="bb2_origin" />

 <joint name="bb2_mesh_to_bb2_origin" type="fixed">
   <parent link="bb2_mesh" />
   <child link="bb2_origin" />
   <origin xyz="0.001 0 0.07" rpy="0 0 ${-1.5708}" />
 </joint>

 <link name="bb2_optical_link" />
 
 <joint name="bb2_origin_to_bb2_camera" type="fixed">
   <parent link="bb2_origin" />
   <child link="bb2_optical_link" />
   <origin xyz="0.01 0 0" rpy="${-1.5708} 0 ${-1.5708}" />
 </joint>
</robot>
