<?xml version="1.0" ?>
<robot name="base" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find ridgeback_description)/urdf/ridgeback.urdf.xacro"/>
  <xacro:include filename="$(find ridgeback_description)/urdf/accessories/hokuyo_ust-10lx_mount.urdf.xacro" />
  <xacro:include filename="$(find ridgeback_description)/urdf/accessories/microstrain_imu.urdf.xacro" />

  <xacro:include filename="$(find sawback_description)/urdf/controller_enclosure.urdf.xacro"/>
  <xacro:include filename="$(find sawback_description)/urdf/velodyne.urdf.xacro"/>
  <xacro:include filename="$(find sawback_description)/urdf/bumblebee_camera.urdf.xacro"/>
  <xacro:include filename="$(find sawback_description)/urdf/sawyer_mount.urdf.xacro"/>

  <xacro:hokuyo_ust-10lx_mount prefix="front"
                               topic="front/scan"
                               location="1" />

  <xacro:hokuyo_ust-10lx_mount prefix="rear"
                              topic="rear/scan"
                              location="-1" />


</robot>
