<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Create link for VLP16 mesh  -->
  <link name="velodyne_mesh">
    <visual>
      <geometry>
        <mesh filename="package://sawback_description/meshes/vlp16_assy.stl"/>
      </geometry>
      <material name="light_grey">
        <color rgba="0.4 0.4 0.4 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://sawback_description/meshes/vlp16_assy.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_to_lidar_mesh" type="fixed">
  <parent link="mid_mount" />
  <child link="velodyne_mesh" />
  <origin xyz="0.365 0 0" rpy="0 0 0" />
  </joint>

  <!-- Create a link between the VLP16 mesh and sensor origin -->
  <link name="velodyne_scan"/>

  <joint name="vlp16_mesh_to_vlp16_origin" type="fixed">
    <parent link="velodyne_mesh" />
    <child link="velodyne_scan" />
    <origin xyz="0 0 0.195" rpy="0 0 0" />
  </joint>
</robot>
