<launch>
  <!-- <group ns="ridgeback"> -->
  <!-- Bumblebee 2 Depth Camera -->
  <!-- <include file="$(find nuridgeback_robot)/launch/bumblebee.launch" /> -->

  <!-- Velodyne 16 Lidar -->
  <!-- <include file="$(find nuridgeback_robot)/launch/VLP16_points.launch" /> -->

  <!-- Primary Hokuyo UST-10LX LIDAR, base is front-facing but support for addtional rear. -->
  <node pkg="urg_node" name="urg_front" type="urg_node" output="screen">
    <param name="ip_address" value="192.168.131.20" />
    <param name="frame_id" value="front_laser" />
    <param name="angle_min" value="-2.35619" />
    <param name="angle_max" value="2.35619" />
    <remap from="scan" to="front/scan" />
  </node>

  <node pkg="urg_node" name="urg_rear" type="urg_node">
    <param name="ip_address" value="192.168.131.21" />
    <param name="frame_id" value="rear_laser" />
    <param name="angle_min" value="-2.35619" />
    <param name="angle_max" value="2.35619" />
    <remap from="scan" to="rear/scan" />
  </node>

  <!-- </group> -->
</launch>
