<launch>
  <!-- <param name="robot_description"
     command="$(find xacro)/xacro $(find sawback_description)/urdf/sawback.urdf.xacro
           gazebo:=false electric_gripper:=true
           pedestal:=false static:=false"/>

  <node pkg="tf2_ros" type="static_transform_publisher"
    name="ridgeback_to_sawyer" args="0 0 0.0099 0 0 0 1 mount_link base"/> -->

  <!-- <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find nu_ridgeback)/config/nu_ridgeback.rviz"/> -->
  <group ns="ridgeback">
    <!-- This was an executable in ros.d -->
    <!-- <include file="$(find nu_ridgeback)/launch/accessories.launch" /> -->

    <!-- Mecanum controller -->
    <rosparam command="load" file="$(find ridgeback_control)/config/control.yaml" />

    <param name="robot_description"
       command="$(find xacro)/xacro '$(find nuridgeback_description)/urdf/nuridgeback.urdf.xacro'"/>

    <!-- In the ridgeback namespace this robot_state_publisher will not override sawyer's robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />

    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter">
      <rosparam>
        gain: 0.1
        zeta: 0.001
        publish_tf: false
        use_magnetic_field_msg: true
      </rosparam>
    </node>

    <!-- Front rocker axle joint is always published on /joint_states and is remapped here -->
    <node pkg="ridgeback_base" type="ridgeback_node" name="ridgeback_node" output="screen">
      <remap from="/joint_states" to="/ridgeback/joint_states" />
    </node>

    <!-- localization -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <remap from="/ridgeback/odometry/filtered" to="/odometry/filtered" />
      <remap from="/imu/data" to="/ridgeback/imu/data" />
    </node>

    <node pkg="topic_tools" type="relay" name="cmd_vel_relay"
          args="/cmd_vel ridgeback_velocity_controller/cmd_vel" />

    <!-- Teleoperation via joystick-->
    <group ns="bluetooth_teleop"/>
      <rosparam command="load" file="$(find ridgeback_control)/config/teleop_ps4.yaml" />
      
      <node pkg="joy" type="joy_node" name="joy_node" />

      <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy">
        <remap from="cmd_vel" to="/cmd_vel" />
      </node>
    </group>

    <!-- Diagnostic Aggregator for robot monitor usage -->
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator">
      <rosparam command="load" file="$(find ridgeback_base)/config/diagnostic_analyzers.yaml" />
    </node>
  </group>
</launch>
