<launch>
  <group ns="ridgeback">
    <include file="$(find nuridgeback_robot)/launch/accessories.launch" />

    <!-- Relay both hokuyo scans to same topic -->
    <node pkg="topic_tools" type="relay" name="relay_front_scan" args="front/scan hokuyo_scan"/>
    <node pkg="topic_tools" type="relay" name="relay_rear_scan" args="rear/scan hokuyo_scan"/>

    <!-- Combine fron and back hokuyo scans into one -->
    <node pkg="laser_assembler" type="laser_scan_assembler" name="assembler_hokuyo_scans">
      <remap from="scan"          to="hokuyo_scan"/>
      <param name="max_scans"     value="5" />
      <param name="fixed_frame"   value="base_link" />
    </node>


    <param name="robot_description"
       command="$(find xacro)/xacro '$(find nuridgeback_description)/urdf/nuridgeback.urdf.xacro'"/>

    <!-- In the ridgeback namespace this robot_state_publisher will not override sawyer's robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info"/>

    <!-- <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter">
      <rosparam file="$(find nuridgeback_robot)/config/imu/mag_config.yaml" />
      <rosparam>
        gain: 0.1
        zeta: 0.001
        publish_tf: false
        use_magnetic_field_msg: true
      </rosparam>
    </node> -->

    <!-- Front rocker axle joint is always published on /joint_states and is remapped here -->
    <node pkg="ridgeback_base" type="ridgeback_node" name="ridgeback_node" output="screen">
      <remap from="/joint_states" to="/ridgeback/joint_states"/>
    </node>

    <!-- Mecanum controller and localization-->
    <include file="$(find ridgeback_control)/launch/control.launch" />

    <!-- Teleoperation via joystick-->
    <group ns="bluetooth_teleop">
      <rosparam command="load" file="$(find ridgeback_control)/config/teleop_ps4.yaml"/>

      <node pkg="joy" type="joy_node" name="joy_node"/>

      <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy">
        <remap from="cmd_vel" to="/cmd_vel"/>
      </node>
    </group>

    <!-- Diagnostic Aggregator for robot monitor usage -->
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator">
      <rosparam command="load" file="$(find ridgeback_base)/config/diagnostic_analyzers.yaml"/>
    </node>
  </group>
</launch>
