<launch>
  <!-- Determine this using rosrun pointgrey_camera_driver list_cameras.
       If not specified, defaults to first camera found. -->
  <arg name="camera_name" default="bumblebee" />
  <arg name="bumblebee_serial" default="19363403" />
  <arg name="calibrated" default="1" />

  <group ns="$(arg camera_name)">
    <node pkg="nodelet" type="nodelet" name="bumblebee_nodelet_manager" args="manager" />

    <node pkg="nodelet" type="nodelet" name="bumblebee_nodelet"
          args="load pointgrey_camera_driver/PointGreyStereoCameraNodelet bumblebee_nodelet_manager" >
      <param name="frame_id" value="bb2_optical_link" />
      <param name="frame_rate" value="15" />
      <param name="first_namespace" value="left" />
      <param name="second_namespace" value="right" />
      <param name="format7_color_coding" value="raw16" />
      <param name="serial" value="$(arg bumblebee_serial)" />

      <!-- Use the camera_calibration package to create these files -->
      <!-- <param name="camera_info_url" if="$(arg calibrated)"
             value="file://$(env HOME)/.ros/camera_info/$(arg bumblebee_serial).yaml" /> -->
      <!-- <param name="second_info_url" if="$(arg calibrated)"
             value="file://$(env HOME)/.ros/camera_info/$(arg bumblebee_serial)_right.yaml" /> -->

       <param name="camera_info_url" if="$(arg calibrated)"
              value="file://$(find nuridgeback_robot)/config/bumblebee/left.yaml" />
       <param name="second_info_url" if="$(arg calibrated)"
              value="file://$(find nuridgeback_robot)/config/bumblebee/right.yaml" />
    </node>

    <!-- TODO: should be able to combine nodelets into one look at image_proc doc -->
    <!-- <node pkg="nodelet" type="nodelet" name="image_proc_debayer_left"
        args="load image_proc/debayer bumblebee_nodelet_manager">
      <remap from="image_raw" to="left/image_raw"/>
      <remap from="image_mono" to="left/image_mono"/>
      <remap from="image_color" to="left/image_color"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_debayer_right"
        args="load image_proc/debayer bumblebee_nodelet_manager">
      <remap from="image_raw" to="right/image_raw"/>
      <remap from="image_mono" to="right/image_mono"/>
      <remap from="image_color" to="right/image_color"/>
    </node> -->

    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
      <param name="approximate_sync" value="false"/>
      <param name="queue_size" value="100"/>
      <param name="disparity_range" value="128"/>
    </node>

    <!-- <node pkg="nodelet" type="nodelet" name="stereo_sync" args="standalone rtabmap_ros/stereo_sync">
      <param name="approx_sync" value="true"/>
    </node> -->



    <!-- <node pkg="nodelet" type="nodelet" name="image_proc_rectify_left"
        args="load image_proc/rectify bumblebee_nodelet_manager">
      <remap from="image_mono" to="left/image_mono"/>
      <remap from="camera_info" to="left/camera_info"/>
      <remap from="image_rect" to="left/image_rect"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_rectify_right"
        args="load image_proc/rectify bumblebee_nodelet_manager">
      <remap from="image_mono" to="right/image_mono"/>
      <remap from="camera_info" to="right/camera_info"/>
      <remap from="image_rect" to="right/image_rect"/>
    </node> -->

  </group>
</launch>
