<launch>
  <arg name="robot" default="0" doc="sets machine address (if 0 then runs on ridgeback)"/>
  <arg name="use_mi" default="false"/>

  <include file="$(find nuridgeback_robot)/launch/basic_remote.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <group ns="ridgeback">
    <node machine="ridgeback" pkg="ergodic_exploration" type="exploration" name="exploration" output="screen">
      <rosparam command="load" file="$(find nuridgeback_robot)/config/exploration/explore.yaml"/>
      <remap from="map"                      to="rtabmap/grid_map"/>
      <remap from="odom"                     to="ridgeback_velocity_controller/odom"/>
      <remap from="cmd_vel"                  to="ridgeback_velocity_controller/cmd_vel"/>
    </node>

    <node if="$(arg use_mi)" pkg="range_mi" name="occupancy_grid_mi" type="occupancy_grid_mi" output="screen">
      <rosparam command="load" file="$(find nuridgeback_robot)/config/exploration/information.yaml"/>
      <remap from="map"                      to="rtabmap/grid_map"/>
    </node>
  </group>

</launch>
