<launch>
  <arg name="robot" default="0" doc="sets machine address"/>

  <machine if="$(eval robot == 0)" name="ridgeback" address="localhost"/>

  <machine if="$(eval robot == 1)" name="ridgeback"
                                   address="ridgeback"
                                   env-loader="/opt/ros/noetic/setup.bash"
                                   user="administrator"/>


  <node machine="ridgeback" pkg="topic_tools" type="relay" name="relay_front_scan" args="/ridgeback/front/scan /ridgeback/hokuyo_scan"/>
</launch>
