<launch>
  <arg name="use_jsp_gui" default="false" doc="launch the joint_state_publisher gui to publish joint angles"/>

  <param name="robot_description"
     command="$(find xacro)/xacro $(find nuridgeback_description)/urdf/nuridgeback.urdf.xacro"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(eval use_jsp_gui)"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(eval use_jsp_gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find nuridgeback_description)/config/nuridgeback.rviz"/>
</launch>
