<!--
Launch driver components of Ridgeback's supported accessories.

Be careful that the defaults in this file are kept aligned with those
in the URDF. See ridgeback_description/urdf/accessories.urdf.xacro.
-->
<launch>
  <!-- Primary Hokuyo UST-10LX LIDAR, base is front-facing but support for addtional rear. -->
  <group if="$(optenv RIDGEBACK_FRONT_HOKUYO_LASER 0)">
    <node pkg="urg_node" name="urg_front" type="urg_node">
      <param name="ip_address" value="$(optenv RIDGEBACK_FRONT_LASER_HOST 192.168.131.20)" />
      <param name="frame_id" value="front_laser" />
      <param name="angle_min" value="-2.35619" />
      <param name="angle_max" value="2.35619" />
      <remap from="scan" to="front/scan" />
    </node>
  </group>

  <group if="$(optenv RIDGEBACK_REAR_HOKUYO_LASER 0)">
    <node pkg="urg_node" name="urg_rear" type="urg_node">
      <param name="ip_address" value="$(optenv RIDGEBACK_REAR_LASER_HOST 192.168.131.21)" />
      <param name="frame_id" value="rear_laser" />
      <param name="angle_min" value="-2.35619" />
      <param name="angle_max" value="2.35619" />
      <remap from="scan" to="rear/scan" />
    </node>
  </group>

  <!-- <group if="$(optenv RIDGEBACK_MICROSTRAIN_IMU 0)">
    <node pkg="microstrain_3dmgx2_imu" type="imu_node" name="microstrain_imu">
      <param name="time_offset" value="-0.040" />
      <param name="port" value="$(optenv RIDGEBACK_MICROSTRAIN_IMU_PORT /dev/microstrain)" />
      <param name="frame_id" value="$(optenv RIDGEBACK_MICROSTRAIN_IMU_LINK upgraded)_imu_link" />
      <param name="autocalibrate" value="true" />
      <param name="angular_velocity_stdev" value="0.00017" />
      <param name="max_drift_rate" value="0.001" />
      <remap from="imu" to="$(optenv RIDGEBACK_MICROSTRAIN_IMU_TOPIC upgraded)_imu" />
    </node>
  </group> -->
</launch>
