[Unit]
Description=launch ridgeback base and sensors

[Service]
Type=simple
ExecStart=/home/administrator/sawback_ws/src/nu_ridgeback/nuridgeback_bringup/scripts/nuridgeback_startup
Restart=on-failure

[Install]
WantedBy=multi-user.target
