<launch>
  <!-- ros control -->
  <include file="$(find ridgeback_control)/launch/control.launch" />

  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server">
    <remap from="twist_marker_server/cmd_vel" to="/cmd_vel" />
    <param name="link_name" value="base_link"/>
    <param name="robot_name" value="nuridgeback"/>
    <rosparam command="load" file="$(find interactive_marker_twist_server)/config/planar.yaml" />
  </node>

  <node name="robot_state_publisher_ridgeback" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- NU ridgeback -->
  <param name="robot_description"
      command="$(find xacro)/xacro '$(find nuridgeback_description)/urdf/nuridgeback.urdf.xacro'"/>

  <rosparam param="gazebo_ros_control/pid_gains">
    front_left_wheel:
      p: 1
      i: 0.1
      d: 0
    front_right_wheel:
      p: 1
      i: 0.1
      d: 0
    rear_left_wheel:
      p: 1
      i: 0.1
      d: 0
    rear_right_wheel:
      p: 1
      i: 0.1
      d: 0
  </rosparam>
</launch>
